@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , "Montserrat" , sans-serif;
}

.light-theme {
    background: rgb(252, 250, 251);
    color: #000000;
}


.error{
    color: red;
    text-align: center;
    margin: 15px auto;
   font-size: 2em;
}

body{
    transition: all .1s ease-in;
}

/* Dark theme */
.dark-theme {
    background: rgb(10, 22, 29);
    color: #c5c4c4;
}

body:is(.dark-theme) .top-link{
    color: #c5c4c4;
    text-decoration: none;
}
body:is(.dark-theme) .article{
    background: rgb(20, 31, 37);
}
body:is(.dark-theme) .poem{
    color: rgb(16, 24, 28);
}
body:is(.dark-theme) footer{
    background: rgb(20, 31, 37);
}
body:is(.dark-theme) .article span{
    color: #c5c4c4;
}
body:is(.dark-theme) .article .title{
    color: white;
}
body:is(.dark-theme) .vertical-line span{
    background: rgb(10, 22, 29);
}
body:is(.dark-theme) .showcase{
   color: black;
}


.loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 6px;
    background: rgb(242, 82, 210);
    width: 0;
    border: none;
    z-index: 999999999999999999;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

::-webkit-scrollbar {
    width: 0px; /* You can adjust the width */
  }  


body{
    background: rgba(252, 250, 251);
}

html{
    scroll-behavior: smooth;
}

.full-height{
    height: 100vh;
}

@keyframes showHeader{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0%);
    }
}

.logo a{
    color: rgb(252, 8, 203);
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

header .links{
    display: flex;
    gap: 4rem;
}

.links a{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.links a::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(234, 10, 189);
    bottom: 0px;
    transform-origin: left;
    border-radius: 50px;
    transition: .3s transform;
    transform: scale(0);
}

.links a:hover::before{
    transform-origin: right;
    transform: scale(1);
}

.star{
    color: rgb(252, 8, 203);
    font-size: 1.3em;
}

.check{
    color: green;
}

.welcome{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.welcome img{
    width: 450px;
    height: 350px;
    object-fit: cover;
}

.text{
    max-width: 400px;
    font-size: 1.8em;
}

.text button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: .5em;
    cursor: pointer;
    background: linear-gradient(to left,rgb(234, 10, 189) , rgb(246, 174, 237));
    color: white;
}

.text button:hover{
    background: linear-gradient(to bottom, rgb(246, 174, 237) ,rgb(234, 10, 189) );
    scale: 1.04;
}

.articles{
    position: relative;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.vertical-line{
    background: linear-gradient(to left, rgb(130, 4, 128) , #db34b4);
    position: absolute;
    top: 100px;
    margin-top: 50px;
    transition: .2s linear;
    padding:2px;
    left: 4%;
}

.vertical-line span{
    position: absolute;
    top: 50%;
    background: rgba(252, 250, 251);
    padding: 10px 20px;
    transform: rotate(-90deg);
    border: none;
    font-size: 1.3em;
    user-select: none;
    left: -65px;
    display: none;
}

.articles h1{
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 30px;
}

.articles h1 span{
    color: #db34b4;
    font-weight: 600;
}

.article-place{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 3rem;
}

.article{
    position: relative;
    display: block;
    width: 360px;
    padding: 20px;
    overflow: hidden;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.article .title{
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 0;
    padding-bottom: 5px;
    color: #181717;
    font-weight: 600;
}

.article span{
    margin: 8px;
    font-size: 1em;
    color: #454343;
    margin: 0;
}

.views{
    font-size: .9em;
}

.article img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
}

.views{
    padding-top: 10px;
}

.hr{
    display: flex;
    justify-content: center;
    gap: 8rem;
}

hr{
    background: rgb(248, 26, 204);
    height: 3px;
    align-items: center;
    width: 300px;
}

.article:hover .options{
    transform: translateY(0%);
}

.pop-up{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 3px 3px 3px #8c8c8c74;
    position: fixed;
    right: 0px;
    padding: 30px;
    width: 60%;
    height: 100%;
    top: 0;
    background: white;
    transform: translateX(100%);
    transition: .5s transform;
    z-index: 99999999999999999999999999;
}

.blur-content{
    filter: blur(2px);
}

.show-popup{
    transform: translateX(0);
}

.menu{
    display: none;
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px;
    border-radius: 50px;
}

.show{
    position: fixed;
    top: 60px;
    left: 10px;
    padding: 10px;background-color: #101010;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width:40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
    visibility: hidden;
}

#sidebar-overlay {
    /* Styles for the sidebar overlay */
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust color and opacity as needed */
    z-index: 999999999;
    visibility: hidden;
}

.menu:active{
    background: #8c8c8c1d;
}

.options{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(300%);
    transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.options button{
    padding: 3px 8px;
    font-size: .95em;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    transition: .3s linear;
    color: white;
    background-color: rgb(216, 16, 176);
}

.read-later:hover,.options a:hover{
    background-color: rgb(166, 5, 134);
    scale: 1.01;
}

.read-later:active{
    background-color: rgb(248, 84, 215);
}

.options button i{
    font-size: 1.3em;
    padding-right: 5px;
}

.options a{
    text-decoration: none;
    background-color: rgb(216, 16, 176);
    padding: 3px 8px;
    color: white;
    font-size: .95em;
    border-radius: 20px;
}

.alert{ 
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    scale: 0;
    background-color: white;
    border-radius: 40px;
    z-index: 99999999999;
    color: green;
    padding:20px 30px;
    font-size: 1em;
    box-shadow: 0px 2px 5px #9e9c9c4f;
}

.show-alert{
    transform: translate(-50%,-50%);
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    scale: 1;
}

.article .star{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    display: none;
}

.top{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(248, 26, 204);
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    border: 2px solid black;
    right: 30px;
    opacity: 0;
    transition: .5s linear;
}

@keyframes animate{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0%);
    }
}

.top {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
    color: white;
    font-weight: 600;
}

.change-font{
    position: fixed;
    left: 30px;
    bottom: 10px;
    opacity: 0;
    z-index: 1;
}

@media screen and (max-width: 1300px){
    .vertical-line {
        display: none;
    }

}

@media screen and (max-width: 1100px){
    .welcome{
        flex-direction: column;
        gap: 3rem;
    }

    .vertical-line{
        scale: 0;
    }

    header .links {
       display: none;
    }    
    .menu{
        display: block;
    }
    .article-place {
        grid-template-columns: repeat(2,1fr);
    }
}

/* FOR MOBILE SCREENS */
@media screen and (max-width: 800px) {

    header {
        align-items: center;
        padding: 15px;
    }

    .welcome img {
        width: 100%;
        height: auto;
    }

    .text {
        font-size: 1.5em;
    }
    .articles h1{
        font-size: 2.2em;
    }

    .articles {
        padding: 20px;
    }

    .article-place {
        grid-template-columns: 1fr;
    }

    .article{
        border-radius: 30px;
        box-shadow: 0px 3px 3px #8c8c8c46;
        width: 300px;
    }

    .article img {
        width: 100%;
        height: 200px;
    }

    .options {
        transform: translateY(0);
        flex-direction: column-reverse;
        gap: .5rem;
    }

    .top {
        right: 15px;
        bottom: 15px;
    }

    .alert{
        top: 50px;
        text-align: center;
        font-size: .9em;
    }
}

img{
    user-select: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.change-font{
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    background: #db34b4;
    padding: 8px 12px;
    border-radius: 6px;
}

.change-font .info{
    position: absolute;
    top: -50px;
    width: 100%;
    background: #101010;
    padding: 3px;
    border-radius: 6px;
    display:none;
    font-size: .9em;
}


.change-font .info::before{
    content: "";
    background: #101010;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -1px;
    z-index: -1;
    left: 5px;
    transform: rotate(130deg);
}

.change-font:hover .info{
    display:block;
}

.read-in-link{
    position: fixed;
    top: 65px;
    right: 40px;
    color: #fc8be2;
    font-size: 1.1em;
    visibility: hidden;
    z-index: 9999999999999999999999;
}

.showcase{
    padding: 1.9rem;
    position: fixed;
    min-height: 70%;
    min-width: 50%;
    top: 50%;
    font-size: 1.5em;
    left: 50%;
    text-align: center;
    transform: translate( -50% , -50%);
    background-color: white;
    animation: showcase .5s cubic-bezier(0.175, 0.885, 0.5, 1.275);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 9999999999999999999999;
    user-select: none;
}

.showcase-hidden{
    display: none;
}

@keyframes showcase{
    from{
        transform: translate(100%);
    }to{
        transform: translate( -50% , -50%);
    }
}

@keyframes hideshowcase{
    from{
        transform: translate(-50%,-50%);
    }to{
        transform: translate(100%);
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.dark{
    position: relative;
    width: 40px;
    height: 20px;
    background-color: black;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: .3s ease;
    display: none;
}

.dark span{
    position: absolute;
    background: white;
    height: 100%;
    width: 20px;
    border-radius: 50%;
    border: 3px solid black;
    transition: .3s ease;
}

.dark-button{
    right: 0;
    transition: .5s ease;
}
